@font-face {
    font-family: 'sunday';
    src: url('sunday.eot?') format('eot'),
         url('sunday.otf') format('truetype'),
         url('sunday.woff') format('woff'),
         url('sunday.svg#SUNDAY') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: auto;
    font-size: 16px;
    font-style: normal;
   font-family: 'gotham'

    }

.bandeau{
    
    background: url(texture.png);
    height: 100px;
	width: 1903px;
    margin-left: 0px;
    background-attachment: fixed;
    
}

.carre{
   position: absolute;
   margin-left: 10px;
}

.name,.alias{
    color: white;
    margin-top: 15px;
}

.name{
    margin-bottom: -20px;
    padding-top: 10px;
}

.alias{
    text-align: center;
    font-style: italic;
}

.logotest{
    width: 50px;
    height: 50px;
    display:block;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    padding-top: 20px;
}

.social{
    width: 40px;
    height: 40px;
    width:auto;
    margin-left:20px;
    margin-right: 10px;
  
}

.bloc1{
    margin-top: -45px;
    text-align: right;
}

.port{
	color: #252525;
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}

.img1{
	background: url("macers.png");
	width: 1200px;
	height: 400px;
	display:block;
    margin-left:auto;
    margin-right:auto;
	margin-top: 20px;
}

.img2{
	background: url("britt.png");
	width: 1200px;
	height: 400px;
	display:block;
    margin-left:auto;
    margin-right:auto;
	margin-top: 20px;
}

.img3{
	background: url("mixo1.png");
	width: 1200px;
	height: 400px;
	display:block;
    margin-left:auto;
    margin-right:auto;
	margin-top: 20px;
}

.img4{
	background: url("birk.png");
	width: 1200px;
	height: 400px;
	display:block;
    margin-left:auto;
    margin-right:auto;
	margin-top: 20px;
}

.rect1{
	background: url(texture.png);
	height: 30px;
	width: 1903px;
	margin-top: 20px;
	position: absolute;
}